<?xml version="1.0"?>
<robot name="multipleshapes">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.19 0.19 0.09"/>
      </geometry>
    </visual>
  </link>

  <link name="link_1">
    <visual>
      <geometry>
        <cylinder length="0.08" radius="0.095"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_to_link_1" type="fixed">
    <parent link="base_link"/>
    <child link="link_1"/>
  </joint>

</robot>
